<div class="container">
<h1>Jobs Details</h1>
<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= @job.title %></h5>
    <p class="card-text"><%= @job.description %></p>
  </div>
  <ul class="list-group list-group-flush">
    <% if not @users.nil? and @users.length > 0 %>
      <% @users.each do |user| %>
        <li class="list-group-item"><%= user.name %></li>
      <% end %>
    <% else %>
      <li class="list-group-item">Noboy has apply yet</li>
    <% end %>
  </ul>
</div>
</div>
