<div class="container">
<h1>New Job</h1>
<%= form_for(@job) do |j| %>
  <div class="form-group">
    <%= j.label :title %>
    <%= j.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>
  <div class="form-group">
    <%= j.label :description %>
    <%= j.text_area :description, class: "form-control", placeholder: "Description" %>
  </div>
  <%= j.submit "Create job", class: "btn btn-primary" %>
<% end %>
</div>
