<div class="container">
<h1>Jobs</h1>
<% if current_user_employer? %>
  <%= link_to "Create a job", new_jobs_path, class: "btn btn-success" %>
<% end %>
<div class="list-group">
  <% @jobs.each do |job| %>
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= job.title %></h5>
        <% if current_user_applicant? %>
          <%= link_to "Apply", apply_path(job), class: "btn btn-primary" %>
        <% end %>
        <% if current_user_employer? %>
          <%= link_to "See applicants", job_path(job), class: "btn btn-primary" %>
        <% end %>
      </div>
      <p class="mb-1"><%= job.description %></p>
      <small><%= @companies[job.company_id].name %></small>
    </div>
  <% end %>
</div>
</div>
