<div class="container">
  <h1>Sign up</h1>
  <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control", placeholder: "Name" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control", placeholder: "Enter email" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    <div class="form-group">
      <%= f.label :password_confirmation, "Password confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Password confirmation" %>
    </div>
    <%= f.submit "Create my account", class: "btn btn-primary" %>
  <% end %>
</div>
