<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fountain</h1>
      <p class="lead">This is the engineering assingment for fountain.</p>
      <hr class="my-4">
      <% if logged_in? %>
        <%= link_to "Jobs", jobs_path, class: "btn btn-primary btn-lg" %>
      <% else %>
          <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
      <% end %>
    </div>
  </div>
</div>
