<div class="container">
<h1>Companies</h1>
<%= form_for(:company, url: company_path) do |c| %>
  <div class="form-group">
    <%= c.label :name %>
    <%= c.text_field :name, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group">
    <%= c.label :domain %>
    <%= c.text_field :domain, class: "form-control", placeholder: "Domain" %>
  </div>
  <%= c.submit "Create", class: "btn btn-primary" %>
<% end %>
<hr class="my-4">
<div class="list-group">
  <% @companies.each do |company| %>
    <div class="list-group-item list-group-item-action">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1"><%= company.name %></h5>
        <%= link_to "Delete", delete_company_path(company), method: :delete, class: "btn btn-danger" %>
      </div>
      <p class="mb-1">Company domain: <b><%= company.domain %></b></p>
    </div>
  <% end %>
</div>
</div>
