<!DOCTYPE html>
<html>
  <head>
    <title>Fountain</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark justify-content-end">
        <% if logged_in? %>
          <span class="navbar-brand"><%= current_user.name %></span>
          <%= link_to "Log out", logout_path, method: :delete, class: "btn btn-light mr-sm-2" %>
        <% else %>
          <%= link_to "Log in", login_path, class: "btn btn-light mr-sm-2" %>
        <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
